.pricePanel {
  display: grid;
  padding-top: 3rem;

  @media screen and (min-width: 1200px) {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2rem;
  }

  @media screen and (max-width: 1200px) {
    grid-template-columns: 1fr;
    grid-gap: 2rem;
  }
}

.course {
  border: 1px solid #918585;
  border-radius: 2rem;
  padding: 1rem 2rem;

  .courseHeader, .courseContent, .courseFooter {
    text-align: center;
    
    .name {
      margin-bottom: 1rem;
    }

    p {
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
    }

    .cell {
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;

      img {
        width: auto;
        height: 1.25rem;
      }
    }
  }

  .courseHeader {
    padding: 1rem;
  }

  .courseContent {
    padding: 1rem;
  }

  .courseFooter {
    padding: 1rem;

    button {
      visibility: hidden;
      text-transform: uppercase;
      border-radius: 2rem;;
      margin-top: 1rem;
    }
  }

  &:hover {
    
    .courseFooter {

      button {
        visibility: visible;
      }
    }
  }
}

.divider {
  width: 100%;
  height: 1px;
  background-color: #918585;
}