.section {
  padding-top: 6.25rem;
  padding-bottom: 6.25rem;
  
  .header {
    margin-bottom: 36px;

    .title {
      color: #302C2C;
      font-family: "Protest Strike", serif;
      text-align: center;
      text-transform: uppercase;

      @media screen and (min-width: 1200px) {
        font-size: 216px;
        line-height: 216px;
        padding-left: 5%;
        padding-right: 5%;
      }
    
      @media screen and (min-width: 600px) and (max-width: 1200px) {
        font-size: 176px;
        line-height: 176px;
      }
    
      @media screen and (max-width: 600px) {
        font-size: 4rem;
        line-height: 4rem;
      }
    }
  }

  .main {}
}