node_modules
.nx
tmp
coverage

dist/apps/admin

apps/admin
apps/artchew/.next/cache
apps/artchew/.next/static/development

data
*.sqlite
*.sqlite-shm
*.sqlite-wal

.git
.DS_Store
npm-debug.log
yarn-error.log
