@import 'rebear/style.css';

html {
  @media screen and (min-width: 1200px) {
    font-size: 16px;
  }

  @media screen and (min-width: 600px) and (max-width: 1200px) {
    font-size: 15px;
  }

  @media screen and (max-width: 600px) {
    font-size: 14px;
  }
}

body {
  font-family: 'Afacad', serif;

  h3,
  h4,
  h5,
  h6 {
    color: #5a5656;
  }

  p {
    color: #5a5656;
  }

  .rebear-button:hover, .rebear-button-icon:hover {
    box-shadow: 0.25rem 0.25rem 0 0 #302C2C;
  }

  .rebear-button:focus, .rebear-button-icon:focus {
    outline: unset !important;
  }

  .rebear-button:not(.rebear-button-error).rebear-button-primary,
  .rebear-button-icon:not(.rebear-button-error).rebear-button-primary {
    color: #302c2c;
    background-color: #febd2d;
    border-color: #302c2c;
  }

  .rebear-button:not(.rebear-button-error).rebear-button-primary:hover,
  .rebear-button-icon:not(.rebear-button-error).rebear-button-primary:hover {
    color: #302c2c;
    background-color: #ffffff;
    border-color: #302c2c;
  }

  .rebear-button:not(.rebear-button-error).rebear-button-primary.active,
  .rebear-button-icon:not(.rebear-button-error).rebear-button-primary.active {
    color: #302c2c;
    background-color: #ff5555;
    border-color: #302c2c;
  }

  .rebear-button:not(.rebear-button-error).rebear-button-secondary {
    border-color: #302c2c;
  }

  .rebear-button:not(.rebear-button-error).rebear-button-tertiary {
    color: #ffffff;
    background-color: #ff5555;
    border-color: #302c2c;
  }

  .rebear-button:not(.rebear-button-error).rebear-button-tertiary:hover {
    color: #ffffff;
    background-color: #ff5555;
    border-color: #302c2c;
  }

  .rebear-select-primary:hover,
  .rebear-select-primary:focus,
  .rebear-input-primary:hover,
  .rebear-input-primary:focus {
    outline: unset;
    border-color: #302c2c;
  }

  .rebear-modal-backdrop {
    background-color: rgba(16, 24, 40, 0.5);
    z-index: 9999;
  }

  .rebear-modal {
    border-radius: 1.25rem;

    @media screen and (max-width: 600px) {
      width: 95vw;
      margin-left: auto;
      margin-right: auto;
    }

    .rebear-modal-dismiss {
      border-radius: 50%;
    }
  }

  .rebear-form-item {
    text-align: left;
  }

  .rebear-form-label {
    color: #5a5656;
    font-size: 1.75rem;
    line-height: 1.75rem;
    font-weight: 700;
  }

  .rebear-input {
    border-radius: 2rem;
    padding: 1rem 1.5rem;
  }

  .rebear-input-primary {
    color: #5a5656;
    background-color: #f4f4f4;
    border-color: #5a5656;
  }

  .rebear-select {
    line-height: 40px;
    border-radius: 2rem;
    padding: 0 1.5rem;
  }

  .rebear-select-primary {
    color: #5a5656;
    background-color: #f4f4f4;
    border-color: #5a5656;
  }

  .rebear-select-dropdown {
    z-index: 9999;
  }
}
