@import url('https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&family=Protest+Strike&display=swap');
@import 'rebear/style.css';

:root {
  --rb-display-xs-font-size: 28px;
  --rb-display-xs-line-height: 28px;
  --rb-text-md-font-size: 18px;
  --rb-text-md-line-height: 20px;
  --rb-text-lg-font-size: 18px;
  --rb-text-lg-line-height: 22px;
}

body {
  font-family: "Afacad", serif;

  h3, h4, h5, h6 {
    color: #5A5656;
  }
  
  p {
    color: #5A5656;
  }
  
  .rebear-button:focus {
    outline: unset;
  }
  
  :not(.rebear-button-error).rebear-button-primary {
    color: #302C2C;
    background-color: #FEBD2D;
    border-color: #302C2C;
  }
  
  :not(.rebear-button-error).rebear-button-primary:hover {
    color: #302C2C;
    background-color: #FFFFFF;
    border-color: #302C2C;
  }
  
  :not(.rebear-button-error).rebear-button-primary.active {
    color: #302C2C;
    background-color: #FF5555;
    border-color: #302C2C;
  }
  
  :not(.rebear-button-error).rebear-button-secondary {
    border-color: #302C2C;
  }
}