:root {
  --rb-display-xs-font-size: 28px;
  --rb-display-xs-line-height: 28px;
  --rb-text-md-font-size: 18px;
  --rb-text-md-line-height: 20px;
  --rb-text-lg-font-size: 18px;
  --rb-text-lg-line-height: 22px;
}
