:root {
  --rb-display-xs-font-size: 1.75rem;
  --rb-display-xs-line-height: 1.75rem;
  --rb-text-md-font-size: 1.175rem;
  --rb-text-md-line-height: 1.25rem
  --rb-text-lg-font-size: 1.175rem;
  --rb-text-lg-line-height: 1.375rem;
}
