.modal {
  width: 600px;
  background-color: #ede9e6;
  padding-top: 16px;

  strong {
    color: #5a5656;
    font-size: var(--rb-text-md-font-size);
    line-height: var(--rb-text-md-line-height);
  }

  p {
    color: #5a5656;
    font-size: var(--rb-text-md-font-size);
    line-height: var(--rb-text-md-line-height);
    margin-bottom: 1rem;
  }

  ul {
    padding-left: 1.5rem;
    margin-bottom: 1rem;

    li {
      color: #5a5656;
      font-size: var(--rb-text-md-font-size);
      line-height: var(--rb-text-md-line-height);
    }
  }

  img {
    display: block;
    width: 75%;
    height: auto;
    margin: 1rem auto;
  }
}