.content {
  display: grid;
  grid-template-columns: 3fr 2fr 1fr;
  grid-gap: 24px;
  align-items: center;

  img {
    width: 100%;
    height: auto;
  }

  .information {

    p {
      margin-top: 16px;
      margin-bottom: 25px;
    }

    button {
      justify-content: center;
      border-radius: 2rem;
    }
  }
}