.hero {
  width: 100%;
  height: 100vh;
  
  @media screen and (min-width: 600px) {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 12rem;
  }

  @media screen and (max-width: 600px) {
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: contain;
    text-align: center;
    padding-top: 14rem;
  }

  .title {
    color: #302C2C;
    font-family: "Protest Strike", serif;
    text-transform: uppercase;
    margin-bottom: 1.25rem;

    @media screen and (min-width: 1200px) {
      font-size: 10rem;
      line-height: 10rem;
    }
  
    @media screen and (min-width: 600px) and (max-width: 1200px) {
      font-size: 7rem;
      line-height: 7rem;
    }
  
    @media screen and (max-width: 600px) {
      font-size: 4rem;
      line-height: 4rem;
    }
  }

  .subtitle {
    text-transform: uppercase;
    margin-bottom: 0.5rem;
  }

  .description {
    
    @media screen and (min-width: 1200px) {
      width: 45%;
    }
  }
}