.sliderWindow {
  overflow: hidden;
  width: 100%;
}

.sliderTrack {
  display: flex;
  transition: transform 0.4s ease;
}

.sliderItem {
  flex: 0 0 100%;
  padding: 0 16px;
  box-sizing: border-box;
}

@media (min-width: 768px) {
  .sliderItem {
    flex: 0 0 50%;
  }
}

@media (min-width: 1024px) {
  .sliderItem {
    flex: 0 0 33.3333%;
  }
}

.footer {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 3rem;

  @media screen and (min-width: 1200px) {
    position: relative;

    button {
      position: absolute;
      top: -385px;
      border-radius: 50%;
    }

    .buttonLeft {
      left: -100px;
    }

    .buttonRight {
      right: -100px;
    }
  }
}
