.items {
  display: grid;
  grid-gap: 32px;

  @media screen and (min-width: 1200px) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  @media screen and (min-width: 600px) and (max-width: 1200px) {
    grid-template-columns: 1fr 1fr;
  }

  @media screen and (max-width: 600px) {
    grid-template-columns: 1fr;
  }
}

.footer {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 3rem;

  @media screen and (min-width: 1200px) {
    position: relative;

    button {
      position: absolute;
      top: -625px;
      border-radius: 50%;
    }

    .buttonLeft {
      left: -100px;
    }

    .buttonRight {
      right: -100px;
    }
  }
}
