.article {
  background-color: #FF5555;
  border: 1px solid #302C2C;
  border-radius: 20px;
  box-shadow: 0.5rem 0.5rem 0 0 #302C2C;
  padding: 1.25rem;

  .avatar {
    background-color: #ffffff;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    aspect-ratio: 1;
    border: 1px solid #302C2C;
    border-radius: 10px;
    margin-bottom: 1.25rem;
  }

  .title {
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 1.25rem;
  }

  .content {
    color: #ffffff;
    margin-bottom: 1.25rem;
  }

  .viewMore {
    width: 100%;
    justify-content: center;
    text-transform: uppercase;
    border-radius: 2rem;
  }
}