.page {
  padding: 1rem;

  .header {
    border-bottom: 1px solid #eeeeee;
    padding-bottom: 1rem;

    .actions {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 1rem;
    }
  }

  .main {
    padding-top: 1rem;
  }
}