.lession {
  background-color: #ffffff;
  border: 1px solid #302C2C;
  border-radius: 20px;
  box-shadow: 8px 8px 0 0 #302C2C;
  padding: 20px;

  .thumbnail {
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    aspect-ratio: 3 / 2;
    border: 1px solid #302C2C;
    border-radius: 10px;
    margin-bottom: 20px;

    .buttonStart {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      
      img {
        height: auto;

        @media screen and (min-width: 1200px) {
          width: 8rem;
        }
      
        @media screen and (max-width: 1200px) {
          width: 5rem;
        }
      }
    }
  }

  .title {
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 1.25rem;
  }
}

.modalContent {
  text-align: center;
  
  @media screen and (min-width: 600px) {
    padding: 5rem 3rem 4rem;
  }

  @media screen and (max-width: 600px) {
    padding: 3rem 1rem 2rem;
  }

  button {
    text-transform: uppercase;
    border-radius: 2rem;
  }
}