.modalContent {
  text-align: center;
  padding: 5rem 3rem 4rem;

  button {
    width: 75%;
    justify-content: center;
    text-transform: uppercase;
    border-radius: 2rem;
    margin-top: 1rem;
  }
}